.wrapper {
  display: grid;
  grid-template-areas:
    'header header header'
    'sidebar outlet  outlet'
    'footer footer footer';
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 60px auto auto;
}
.outlet {
  grid-area: outlet;

  min-height: calc(100vh - 110px);
  margin-left: 200px;
  padding: 20px;
}
