.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 400px;
    padding: 20px;

.emptyText {
    margin-bottom: 20px;

    text-align: center;
}
    h1 {
        margin-bottom: 10px;

        font-size: 24px;
        font-weight: 400;
        color: gray;
    }

    .item {
        display: flex;
        gap: 20px;
        align-items: center;

        margin-bottom: 10px;
        padding: 5px;

        background-color: hotpink;
        img {
            width: 80px;
            height: 100px;

            object-fit: cover;
        }

        .details {
            h1 {
                font-size: 18px;
                font-weight: 500;
            }

            p {
                margin-bottom: 10px;

                font-size: 14px;
                color: gray;
            }

            .price {
                color: #2879fe;
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;

        font-size: 18px;
        font-weight: 500;
    }

    .reset{
        cursor: pointer;

        font-size: 15px;
        color: #ec2f2f;
    }
}