.wrapper {
    grid-area: header;

    padding: 10px 0;

    background-color: #3f2c2c;

}
.inner {
    display: flex;
    justify-content: space-between;


}
.right,
.left,
.center {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
    }

}
